<!DOCTYPE html>
<html>
  <head>
    <title>Tarea SA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
  </head>
    <body>
      <h1>Lista de productos</h1>
      <table class="table table-striped">
        <thead>
          <td>Id</td>
          <td>Descripción</td>
        </thead>
        {% for dato in datos %}
          <tr>
            <td>{{dato[0]}}</td>
            <td> {{dato[1]}}</td>
          </tr>
        {% endfor %}
      </table>
      <p>
        201212680 Walter Mendoza  
      </p>
    </body>
  </html>
